<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shapes</title>
  </head>
  <body>
    <%- include('navigator_bar') -%>
    <div>
      <h1>All UFO Shapes</h1>
        <%  shapeObject.sort(function (a, b) {%>
          <%  return a.value - b.value; %>
          <% }) %>
        <%for (const [key, value] of Object.entries(shapeObject)) {%>
        <ul> 
            <% let url = `/sighting/${key}` %>
            <a href="<%=url %>"><%=key%></a>
            <%=value%>
        </ul>
        <%}%>  
    </div>
  </body>
</html>
