<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <title>New UFO Sighting</title>
  <!-- </head>
  <body> -->
     <%- include('navigator_bar') -%>
    <div class="container">
      <h1>Record A New Sighting</h1> 
    <form action="/sighting" method="POST">
      <label for="date">Date:</label><br />
      <input type="date" id="date" name="DATE" required /><br />     
      <label for="shape">Shape:</label><br />
      <input type="text" id="shape" name="SHAPE" required/><br />
      <label for="city">City:</label><br />
      <input type="text" id="city" name="CITY" required /><br />
      <label for="state">State:</label><br />
      <input type="text" id="state" name="STATE" /><br />
      <label for="county">County:</label><br />
      <input type="text" id="county" name="COUNTY" /><br />
      <label for="location_details">Location Details:</label><br />
      <input type="text" id="location_details" name="LOCATION_DETAILS" /><br />
      <label for="nearest_town">Nearest Town:</label><br />
      <input type="text" id="nearest_town" name="NEAREST_TOWN" /><br />
      <label for="observed">Observed:</label><br />
      <textarea id="observed" rows="10" cols="70" name="OBSERVED">Enter your observation here...required </textarea><br />
      <label for="also_noticed">Also Noticed:</label><br />
      <input type="text" id="also_noticed" name="ALSO_NOTICED" /><br />
      <label for="other_witnesses">Other Witnesses:</label><br />
      <input type="text" id="other_witnesses" name="OTHER_WITNESSES" /><br />
      <label for="other_stories">Other Stories:</label><br />
      <input type="text" id="other_stories" name="OTHER_STORIES" /><br />
      <label for="time_and_conditions">Time And Conditions:</label><br />
      <input
        type="text"
        id="time_and_conditions"
        name="TIME_AND_CONDITIONS"
      /><br />
      <label for="environment">Environment:</label><br />
      <input type="text" id="environment" name="ENVIRONMENT" /><br />
      <input type="submit" value="Submit" />
    </form>
   </div>
  </body>
</html>
